<div class="container-fluid paddingTP30" ng-init="userList()">
    <tab-menu tab-menu-list="subTabMenus"></tab-menu>
    <div class="paddingTB20 clearfix">
        <a ui-sref="base.user" class="btn btn-info pull-right" role="button">Add user</a>
        <delete-button disabled-button="disabledButton" button-value="buttonValue" ng-click="deleteMultipleEmp()"></delete-button>

        <select data-ng-model="order.field">
            <option value="id">Id</option>
            <option value="email">Email</option>
            <option value="name" selected>Name</option>
            <option value="gender">Gender</option>
        </select>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active table-responsive" id="home">
            <table class="table table-bordred table-striped">
                <thead>
                    <th>Image</th>
                    <th>Employee Name </th>
                    <th>Email </th>
                    <th>Department Name</th>
                    <th>Salary</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in getUsers | orderBy:dynamicOrder" ng-click="selectRow(user.id);user.isbackgroundgreen=!user.isbackgroundgreen;"
                        ng-init="user.isbackgroundgreen = false" ng-class="{backgroundgreen : user.isbackgroundgreen}" ng-dblclick="doubleClick(user.id)"
                        class="cursor">
                        <td><img height="100" width="100" src="{{blackSpinner}}" lazy-img="{{user.image}}"></td>
                        <td>{{user.fname}} {{user.lname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.department}}</td>
                        <td>${{user.salary}}</td>
                        <td>
                            <a ui-sref="base.edit-user({uid: user.id})" class="btn btn-success" role="button">Edit</a>
                            <a class="btn btn-danger" role="button" ng-click="deleteEmployee(user.id)" custom-alert="Are you sure you want to delete?">Delete</a>
                        </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Tab panes -->