<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" ui-sref="base.dashboard">Logo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li uib-dropdown on-toggle="toggled(open)">
                <a href="#" id="dropdown" uib-dropdown-toggle>User Name <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdown">
                    <li><a href="#">Profile</a></li>
                    <li><a ui-sref="login">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
