<div ng-show="errorMessage.length" class="alert alert-danger">{{errorMessage}}</div>
<div ng-show="successMessage.length" class="alert alert-danger">{{successMessage}}</div>
<div class="login-container">
    <h2>Login</h2>
    <form name="loginForm" novalidate class="form-signin" ng-submit="login()">

        <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid }">
            <label for="email">Username</label>
            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" required/>
            <p class="help-block" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">Please Enter a valid email address</p>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-minLength="6"
                required/>
            <p class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">Please Enter at least 6 characters</p>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</div>