<div class="container-fluid paddingTP30">
    <h3 class="page-title">{{setTitle}}</h3>
    <form class="col-md-7">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <div class="row">
                <label for="" class="col-md-12">Gender</label>
                <label class="col-md-6">
                    <input type="radio" name="gender" id="male" value="male" checked> Male
                </label>
                <label class="col-md-6">
                    <input type="radio" name="gender" id="female" value="female"> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Upload file</label>
            <input type="file" id="exampleInputFile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
